LISTS!!!!!!!

In [1]:
my_list = [1,2,3]

In [8]:
My_list_two = ['STRING', 10, 1314.234, "Another Value"]

In [4]:
len(my_list)

3

In [5]:
len(My_list_two)

4

In [6]:
my_list[0]

1

In [7]:
My_list_two[:-1]

['STRING', 10, 1314.234]

In [11]:
My_list_two[::-1]

['Another Value', 1314.234, 10, 'STRING']

In [12]:
my_list + My_list_two

[1, 2, 3, 'STRING', 10, 1314.234, 'Another Value']

In [13]:
another_list = my_list + My_list_two

In [14]:
another_list

[1, 2, 3, 'STRING', 10, 1314.234, 'Another Value']

In [15]:
another_list[3] = 'a new item has been entered'.upper()

In [16]:
another_list

[1, 2, 3, 'A NEW ITEM HAS BEEN ENTERED', 10, 1314.234, 'Another Value']

In [17]:
len(another_list)

7

In [18]:
another_list.append('8')

In [19]:
another_list

[1, 2, 3, 'A NEW ITEM HAS BEEN ENTERED', 10, 1314.234, 'Another Value', '8']

In [20]:
another_list.pop()

'8'

In [21]:
another_list

[1, 2, 3, 'A NEW ITEM HAS BEEN ENTERED', 10, 1314.234, 'Another Value']

In [22]:
popped_item = another_list.pop()

In [23]:
popped_item

'Another Value'

In [25]:
another_list.pop(3)

'A NEW ITEM HAS BEEN ENTERED'

In [26]:
another_list

[1, 2, 3, 10, 1314.234]

In [27]:
new_list = ['a', 'e','z', 'x', 'g', 'q', 'b', 'v']
num_list = [12, 143, 2344, 3, 6, 348, 100]

In [29]:
new_list.sort()
num_list.sort()

In [30]:
new_list
num_list

[3, 6, 12, 100, 143, 348, 2344]

In [31]:
new_list

['a', 'b', 'e', 'g', 'q', 'v', 'x', 'z']

In [35]:
new_list = ['a', 'e','z', 'x', 'g', 'q', 'b', 'v']
new_list.sort()
sorted_new_list = new_list

In [37]:
new_list.reverse()
reverse_sorted_new_list = new_list

In [38]:
sorted_new_list

['z', 'x', 'v', 'q', 'g', 'e', 'b', 'a']

DICTIONARIES

In [1]:
my_dict = {'key1': 'value1', 'key2': 'value2'}

In [2]:
my_dict['key2']

'value2'

In [3]:
prices_lookup = {'apple':2.99, 'oranges':.85, 'milk': 3.80}

In [5]:
prices_lookup['milk']

3.8

In [6]:
d_exmpl = {'k1':123, 'k2':[0,1,2], 'k3':{'inner_dict': 1000}}

In [8]:
d_exmpl['k2'][2]

2

In [9]:
d_exmpl['k3']['inner_dict']

1000

In [10]:
d_exmpl['k2'][1] + d_exmpl['k2'][2]

3

In [11]:
d_exmpl['k4'] = 'ADDED VALUE'

In [12]:
d_exmpl['k1'] = 'NEW VALUE'

In [13]:
d_exmpl

{'k1': 'NEW VALUE',
 'k2': [0, 1, 2],
 'k3': {'inner_dict': 1000},
 'k4': 'ADDED VALUE'}

In [14]:
d_exmpl.keys()

dict_keys(['k1', 'k2', 'k3', 'k4'])

In [15]:
d_exmpl.values()

dict_values(['NEW VALUE', [0, 1, 2], {'inner_dict': 1000}, 'ADDED VALUE'])

In [16]:
d_exmpl.items()

dict_items([('k1', 'NEW VALUE'), ('k2', [0, 1, 2]), ('k3', {'inner_dict': 1000}), ('k4', 'ADDED VALUE')])

TUPLES

In [17]:
my_tuple = (1,2,3,4,5)

In [18]:
my_tuple

(1, 2, 3, 4, 5)

In [19]:
t = ('a', 'a', 'b', 'b', 'a', 'a')

In [20]:
t.count('a')

4

In [21]:
t.index('b')

2

SETS

In [22]:
my_set = set()

In [23]:
my_set.add(1)

In [24]:
my_set.add(2)

In [26]:
my_set.add(3)

In [27]:
my_set

{1, 2, 3}

In [28]:
simple_list = [1,1,1,1,1,1,1,1,1,2,2,2,2,2,2,2,2,2,3,3,3,3,3,3,3,3,3,3,3,4,4,4,4,4,4,4]

In [29]:
set(simple_list)

{1, 2, 3, 4}